<a href="https://colab.research.google.com/github/coder-omer/Pandas/blob/main/work_3101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
orders = pd.read_table('chipotle.tsv')

In [ ]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [ ]:
orders.head()

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

In [ ]:
orders.item_name.str.upper()

0                CHIPS AND FRESH TOMATO SALSA
1                                        IZZE
2                            NANTUCKET NECTAR
3       CHIPS AND TOMATILLO-GREEN CHILI SALSA
4                                CHICKEN BOWL
                        ...
4617                            STEAK BURRITO
4618                            STEAK BURRITO
4619                       CHICKEN SALAD BOWL
4620                       CHICKEN SALAD BOWL
4621                       CHICKEN SALAD BOWL
Name: item_name, Length: 4622, dtype: object

In [ ]:
orders.item_name.str.contains('Chicken')

0       False
1       False
2       False
3       False
4        True
        ...
4617    False
4618    False
4619     True
4620     True
4621     True
Name: item_name, Length: 4622, dtype: bool

In [ ]:
orders[orders.item_name.str.contains('Chicken')]

      order_id  ...  item_price
4            2  ...     $16.98
5            3  ...     $10.98
11           6  ...      $8.75
12           6  ...      $8.75
13           7  ...     $11.25
...        ...  ...         ...
4604      1828  ...      $8.75
4615      1832  ...      $8.75
4619      1834  ...     $11.25
4620      1834  ...      $8.75
4621      1834  ...      $8.75

[1560 rows x 5 columns]

In [ ]:
orders.head()

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

In [ ]:
orders.choice_description.str.replace('[','').str.replace(']','')
# orders.choice_description.str.replace('[\[\]]','') aynısını yapar

0                                                     NaN
1                                              Clementine
2                                                   Apple
3                                                     NaN
4       Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
                              ...
4617    Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...
4618    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4619    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
4620       Fresh Tomato Salsa, Fajita Vegetables, Lettuce
4621    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
Name: choice_description, Length: 4622, dtype: object

In [ ]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [ ]:
drinks.head()

       country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0  Afghanistan              0  ...                           0.0       Asia
1      Albania             89  ...                           4.9     Europe
2      Algeria             25  ...                           0.7     Africa
3      Andorra            245  ...                          12.4     Europe
4       Angola            217  ...                           5.9     Africa

[5 rows x 6 columns]

In [ ]:
drinks.beer_servings.mean()

106.16062176165804

In [ ]:
drinks.groupby('continent').beer_servings.mean()

continent
Africa            61.471698
Asia              37.045455
Europe           193.777778
North America    145.434783
Oceania           89.687500
South America    175.083333
Name: beer_servings, dtype: float64

In [ ]:
drinks[drinks.continent=='Africa']

                      country  ...  continent
2                     Algeria  ...     Africa
4                      Angola  ...     Africa
18                      Benin  ...     Africa
22                   Botswana  ...     Africa
26               Burkina Faso  ...     Africa
27                    Burundi  ...     Africa
28              Cote d'Ivoire  ...     Africa
29                 Cabo Verde  ...     Africa
31                   Cameroon  ...     Africa
33   Central African Republic  ...     Africa
34                       Chad  ...     Africa
38                    Comoros  ...     Africa
39                      Congo  ...     Africa
47                   DR Congo  ...     Africa
49                   Djibouti  ...     Africa
53                      Egypt  ...     Africa
55          Equatorial Guinea  ...     Africa
56                    Eritrea  ...     Africa
58                   Ethiopia  ...     Africa
62                      Gabon  ...     Africa
63                     Gambia  ...     Africa
66                      Ghana  ...     Africa
70                     Guinea  ...     Africa
71              Guinea-Bissau  ...     Africa
88                      Kenya  ...     Africa
95                    Lesotho  ...     Africa
96                    Liberia  ...     Africa
97                      Libya  ...     Africa
100                Madagascar  ...     Africa
101                    Malawi  ...     Africa
104                      Mali  ...     Africa
107                Mauritania  ...     Africa
108                 Mauritius  ...     Africa
114                   Morocco  ...     Africa
115                Mozambique  ...     Africa
117                   Namibia  ...     Africa
123                     Niger  ...     Africa
124                   Nigeria  ...     Africa
142                    Rwanda  ...     Africa
148       Sao Tome & Principe  ...     Africa
150                   Senegal  ...     Africa
152                Seychelles  ...     Africa
153              Sierra Leone  ...     Africa
158                   Somalia  ...     Africa
159              South Africa  ...     Africa
162                     Sudan  ...     Africa
164                 Swaziland  ...     Africa
172                      Togo  ...     Africa
175                   Tunisia  ...     Africa
179                    Uganda  ...     Africa
183                  Tanzania  ...     Africa
191                    Zambia  ...     Africa
192                  Zimbabwe  ...     Africa

[53 rows x 6 columns]

In [ ]:
import numpy as np

In [ ]:
rng = np.random.RandomState(0)

In [ ]:
df = pd.DataFrame({'key':['A','B','C','A','B','C'],
                   'data1': range(6),
                   'data2': rng.randint(0,10,6)},
                   columns = ['key','data1','data2'])

In [ ]:
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [ ]:
df.groupby('key').transform(lambda x: x - x.mean())

   data1  data2
0   -1.5    1.0
1   -1.5   -3.5
2   -1.5   -3.0
3    1.5   -1.0
4    1.5    3.5
5    1.5    3.0

In [ ]:
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [ ]:
def norm_by_data2(x):
  x['data1'] /= x['data2'].sum()
  return x

In [ ]:
df.groupby('key').apply(norm_by_data2)

  key     data1  data2
0   A  0.000000      5
1   B  0.142857      0
2   C  0.166667      3
3   A  0.375000      3
4   B  0.571429      7
5   C  0.416667      9

In [ ]:
import pandas as pd
from IPython.display import display

In [ ]:
from IPython.core.display import display

In [ ]:
display('df',"df.groupby('key').apply(norm_by_data2)")

'df'

"df.groupby('key').apply(norm_by_data2)"

In [ ]:
display(df, df.groupby('key').apply(norm_by_data2))

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

  key     data1  data2
0   A  0.000000      5
1   B  0.142857      0
2   C  0.166667      3
3   A  0.375000      3
4   B  0.571429      7
5   C  0.416667      9

In [ ]:
L =[0, 1, 0, 1, 2, 0]

In [ ]:
display('df',"df.groupby(L).sum()")

'df'

'df.groupby(L).sum()'

In [ ]:
data = pd.DataFrame([('bird', 389.0),
                     ('bird', 40.0), ('bird', 405.0),
                     ('mammal', 80.2),
                     ('mammal', 12.0),('mammal', 58)],
                     index=['falcon', 'parrot', 'eagle', 'lion', 'monkey', 'leopard'],
                    columns=('class', 'speed'))
data

          class  speed
falcon     bird  389.0
parrot     bird   40.0
eagle      bird  405.0
lion     mammal   80.2
monkey   mammal   12.0
leopard  mammal   58.0

In [ ]:
data.groupby("class").max()

        speed
class
bird    405.0
mammal   80.2

In [ ]:
data.groupby("class").mean()

             speed
class
bird    278.000000
mammal   50.066667

In [ ]:
data.loc[data.groupby(["class"])["speed"].idxmax()]

        class  speed
eagle    bird  405.0
lion   mammal   80.2

In [ ]:
data.sort_values('speed').groupby(['class']).tail(1)

        class  speed
lion   mammal   80.2
eagle    bird  405.0

In [ ]:
data.groupby(['class'])['speed'].max()

class
bird      405.0
mammal     80.2
Name: speed, dtype: float64